:root {
    --main-clr: #1e40af;
    --accent-clr: #eff6ff;
    --btn-clr: #3b82f6;
    --text-clr: ;
    --secondary-clr: ;
    --tertiary-clr: #1e293b;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: #bfdbfe;
    overflow: hidden;
}

.header {
    padding: 15px;
    height: 20vh;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: var(--accent-clr);
}

.top-left {
    display: flex;
    padding-right: 15px;
    gap: 15px;
    align-items: center;
}

input {
    padding: 0 10px;
    height: 35px;
    width: 50vw;
    border-radius: 0.75em;
    border-style: none;
    border: 1px solid blue;
    background-color: transparent;
}

.top-left>img {
    height: 25px;
}

.top-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.top-right>img {
    height: 20px;
}

.bottom-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
}

.bottom-left>.logo img {
    height: 80px;
    width: 80px;
}

.bottom-left>.name {
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

.bottom-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.bottom-right>button {
    color: white;
    height: 35px;
    width: 60px;
    border-style: none;
    border-radius: 10em;
    border: 1px solid blue;
    background-color: var(--btn-clr);
}

.sidebar {
    grid-row: 1/ -1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    align-items: flex-start;
    background-color: var(--main-clr);
}

.main-content {
    padding-right: 10px;
    height: 80vh;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--tertiary-clr);
}

.main-content>.article {
    background-color: ;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    padding: 15px;
    padding-top: 0;
}

.main-content>.article>.header {
    color: var(--accent-clr);
    background-color: var(--tertiary-clr);
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

.main-content .article .projects {
    background-color: var(--tertiary-clr);
    height: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 15px;
    overflow: scroll;
}

.main-content>.article>.projects>div {
    background-color: white;
    border-radius: 0.5em;
    border-left: 5px solid var(--btn-clr);
    padding: 5px;
}

.main-content>.article>.projects>div>img {
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    border-radius: 3px;
    margin: -5px;
}

.main-content>.article>.projects>div>span {
    height: 50px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: -30px;
}

.main-content>.article>.projects>div>span>img {
    height: 20px;
    width: 20px;
    padding: 1px;
    background-color: white;
    border-radius: 30%;
}

.main-content>.announcement {
    padding: 5px;
    background-color: var(--tertiary-clr);
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-content>.announcement>.header {
    height: 5%;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--tertiary-clr);
    color: var(--accent-clr);
}

.main-content .announcement div {
    height: 25vh;
    background-color: var(--accent-clr);
    overflow: scroll;
    border-radius: 0.5em;
    padding: 0 5px;
    border-bottom: 3px solid gray;
}

.main-content>.announcement>div>p {
    margin: -20px 0 0 0;
}

.main-content>.trending {
    background-color: var(--tertiary-clr);
    height: 200px;
    margin: -380px 5px 0 5px;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    border-radius: 0.5em;
}

.main-content>.trending>p {
    color: var(--accent-clr);
    background-color: var(--tertiary-clr);
    height: 10px;
    font-size: 18px;
    font-weight: 600;
}

.main-content>.trending>div {
    background-color: var(--accent-clr);
    height: 30%;
    margin: 5px;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    padding: 0 5px;
    gap: 15px;
    overflow: hidden;
}

.main-content>.trending>div>img {
    height: 30px;
    width: 30px;
}

.main-content>.trending>div>div {
    border-left: 1px solid gray;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 10px;
}

.logo {
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
    font-size: 22px;
}

.logo>img {
    width: 40px;
    height: 40px;
}

ul>li {
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
}

.features-nav>ul,
.help-nav>ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 10px;
}